{% extends "base.html" %}

{% block content %}
<div class="text">
    <h1>Доставка та оплата</h1>
    <p><strong>Нова Пошта:</strong></p>
    <ul>
        <li>Відправлення можливе до відділень або поштоматів Нової Пошти, які працюють на момент оформлення замовлення</li>
        <li>Відправлення формується протягом 3-7 робочих днів, тому що працюємо під замовлення. Виготовляємо особисто для вас (Можлива затримка у вихідні та святкові дні)</li>
        <li>Варто враховувати комісію Нової Пошти, а також ціну за доставку!</li>
        <li>При персоналізації замовлення (нанесення індивідуального гравіювання) оплата 100% на карту, після чого, менеджер передає замовлення в роботу</li>
        <li>Доставка товарів сплачується покупцем згідно із встановленими тарифами Нової Пошти</li>
        <li>При отриманні рекомендуємо впевнитись у цілісності товару та його упаковки</li>
    </ul>
    <p><strong>ВАЖЛИВО!</strong></p>
    <ul>
        <li class="red-text">Після замовлення товару - Наш менеджер Вам зателефонує або напише у Телеграм або Вайбер(на той номер, що ви вказали при створенні замовлення) щодо успішного замовлення та надасть інформацію про приблизну дату відправки замовлення, а також відповість на всі Ваші запитання!</li>
    </ul>
</div>
{% endblock %} 