{% extends "base.html" %}

{% block content %}
<div class="text">
    <h1>Оплата та Гарантія</h1>
    <p><strong>Оплата:</strong></p>
    <ul>
        <li>Оплата готівкою при отриманні замовлення у відділенні Нової Пошти. Для цього при оформленні замовлення потрібно обрати опцію “готівка”</li>
        <li>Оплата на сайті  можлива онлайн через платіжну систему. Підтримуються картки Visa та Mastercard будь-якого банку, а також доступні функції Apple Pay та Google Pay. Безпека та конфіденційність даних платника гарантуються платіжною системою.</li>
    </ul>

    <p><strong>Повернення:</strong></p>
    <ul>
        <li>Повернення товару можливе протягом 14 днів з моменту отримання замовлення</li>
        <li>Товар має бути повернутий у первісному вигляді, без слідів використання та з усіма етикетками</li>
        <li>Витрати на повернення покриває покупець</li>
        <li>Повернення коштів здійснюється на картку покупця протягом 3-5 робочих днів після отримання повернутого товару</li>
    </ul>

    <p><strong>Гарантія:</strong></p>
    <ul>
        <li>Гарантія на товар становить 2 роки в з моменту отримання замовлення</li>
        <li>Гарантія не поширюється на випадки неналежного використання товару, механічних пошкоджень, а також на випадки, коли товар був підданий ремонту або модифікації без нашої згоди</li>
        <li>У разі виявлення дефектів у товарі протягом гарантійного терміну, ми зобов'язуємося усунути їх безкоштовно</li>
    </ul>

    <p><strong>ВАЖЛИВО!</strong></p>
    <ul>
        <li class="red-text">Після замовлення товару - Наш менеджер Вам зателефонує або напише у Телеграм або Вайбер(на той номер, що ви вказали при створенні замовлення) щодо успішного замовлення та надасть інформацію про приблизну дату відправки замовлення, а також відповість на всі Ваші запитання!</li>
    </ul>
</div>
{% endblock %} 