.order-wrapper {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .table-wrapper {
    overflow-x: auto;
  }

.data-profile {
  flex: 1;
  margin-right: 60px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  


}

/* Profile Page Styles */
.profile-info, .orders-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
  background: linear-gradient(145deg, #ffffff, #f0f0f0);
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.05), -2px -2px 10px rgba(255,255,255,0.8);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}
.profile-info {
  background-color: #ffffff; /* Light blue */
  border-left: 6px solid #00796b; /* Teal accent */
}

.orders-info {
  background-color: #ffffff; /* Light yellow */
  border-left: 6px solid #fbc02d; /* Yellow accent */
}

.profile-info:hover,
.orders-info:hover {
  transform: translateY(-5px);
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.1);
}

.profile-info .icon,
.orders-info .icon {
  font-size: 32px;
  color: #5c6bc0;
  flex-shrink: 0;
}

.profile-info p,
.orders-info p {
  margin: 0;
  font-size: 22px;
  color: #333;
  line-height: 1.4;
}

.orders-info a {
  color: #616060;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.orders-info a:hover {
  text-decoration: underline;
}







.profile-settings {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile-settings {
  background-color: #ffffff; /* Light pink */
  border-left: 6px solid #9c27b0; /* Purple accent */
}









.profile-settings h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}


.profile-settings h1 {
  margin-bottom: 40px;
  font-size: 48px;
  text-align: center;
}


.button-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn {
  flex: 1;
  padding: 12px 20px;
  text-align: center;
  background-color: #616060;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


