.form-field {
    display: flex;
    align-items: center;
  }
  .form-field label {
    width: 200px;
    padding-right: 10px;
  }
  .form-field input {
    flex-grow: 1;
    box-sizing: border-box;
  }

  .alert-danger {
    color: red;
  }

  p {
    margin-bottom: 5px;
  }



  .button-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .btn {
    flex: 1;
    padding: 12px 20px;
    text-align: center;
    background-color: #616060;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  