{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/includes/footer.css'%}" />
{% endblock %}


<footer id="footer">
    <div class="inner">
        <section>
            <h2>Залишились питання?
                <p>Бажаєте зробити замовлення?</p>
                <p>Зв'яжіться з нами!</p>
            </h2>
            <form method="post" action="{% url 'users:feedback_processing'%}">
                {% csrf_token %}
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="feedback_name" id="feedback_name" placeholder="Ім'я" required/>
                    </div>
                    <div class="field half">
                        <input type="email" name="feedback_email" id="feedback_email" placeholder="Електронна пошта" />
                    </div>
                    
                    <div class="field half">
                        <input type="tel"
                            name="feedback_phone"
                            id="feedback_phone"
                            placeholder="+380XXXXXXXXX"
                            maxlength="13"
                            pattern="^\+380\d{9}$"
                            required
                            title="Введіть номер у форматі +380XXXXXXXXX" />
                    </div>
                    
                    <script>
                        const phoneInput = document.getElementById("feedback_phone");
                    
                        phoneInput.addEventListener("input", function () {
                            const value = phoneInput.value;
                            const pattern = /^\+380\d{0,9}$/;
                    
                            if (!pattern.test(value)) {
                                phoneInput.setCustomValidity("Номер повинен бути у форматі +380XXXXXXXXX");
                            } else {
                                phoneInput.setCustomValidity("");
                            }
                        });
                    </script>
                    <div class="field half">
                        <label>Доступні месенджери:</label>
                        <div class="checkbox-group">
                            <input type="checkbox" id="viber" name="feedback_messengers" value="viber" />
                            <label for="viber">Viber</label>

                            <input type="checkbox" id="telegram" name="feedback_messengers" value="telegram" />
                            <label for="telegram">Telegram</label>

                            <input type="checkbox" id="whatsapp" name="feedback_messengers" value="whatsapp" />
                            <label for="whatsapp">WhatsApp</label>
                        </div>
                    </div>

                    <div class="field">
                        <textarea name="feedback_message" id="feedback_message" placeholder="Повідомлення" maxlength="500" required></textarea>
                        <small>Максимальна кількість символів 500</small>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Відправити" class="primary" /></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Мої ресурси</h2>
            <ul class="icons">
                <li><a href="https://t.me/IDmitry_I" class="icon brands style2 fa-tg"><img src="{% static 'images/tg.svg' %}" alt=""><span class="label">Telegram</span></a></li>
                <li><a href="https://www.instagram.com/carti_ua" class="icon solid style2 fa-inst"><img src="{% static 'images/inst.svg' %}" alt=""><span class="label">Instagram</span></a></li>
                <li><a href="mailto:cartiualeather@gmail.com" class="icon solid style2 fa-email"><img src="{% static 'images/email.svg' %}" alt=""><span class="label">Email</span></a></li>
            </ul>
        </section>
    </div>
</footer>
