{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/includes/header.css'%}" />
{% endblock %}

<header id="header">
    <div class="inner">
        <!-- Logo -->
        <a href="{% url 'store:home' %}" class="logo">
            <span class="symbol"><img src="{% static "images/logo.svg" %}" alt="" /></span>
            <span class="title">Carti_Leather</span>
        </a>
        <!-- Nav -->
        <nav>
            <ul>
                <li>
                    <a href="#menu">Головна</a>
                </li>
            </ul>
            <br>
            <ul class="actions">
                <li>
                    <a href="{% url 'store:home' %}">
                    <img src ="{% static "images/home.svg" %}" width="40" height="40" ></a>
                    <br>
                    <a href="{% url 'cart:cart' %}">
                    <img src ="{% static "images/cart.jpg" %}" width="40" height="40" ></a>
                    <br>
                    <a href="{% url 'users:profile' %}">
                    <img src ="{% static "images/profile.png" %}" width="40" height="40" ></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Menu -->
<nav id="menu">
    <h2>Меню</h2>
    <ul class="main-menu">
        <li class="dropdown">
            <a href="{% url 'store:tag_list' %}" class="dropdown-toggle">
                Категорії <span class="arrow">▾</span>
            </a>
            <ul class="dropdown-menu">
                {% for tag in tags %}
                    <li><a href="{% url 'store:tag_details' tag.slug %}">{{ tag.name }}</a></li>
                {% empty %}
                    <li><span>Немає категорій</span></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'about:about_delivery' %}"><strong>Доставка</strong></a></li>
        <li><a href="{% url 'about:about_payment' %}"><strong>Оплата та Гарантія</strong></a></li>
        <li><a href="{% url 'about:about_me' %}"><strong>Контактні дані</strong></a></li>
    </ul>
</nav>
