{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/checkout.css'%}" />
{% endblock %}

{% block content %}
<h1 class="h1-main">Оформлення замовлення</h1>
  {% if messages %}
  <div class="messages-container">
    <ul class="messages">
      {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
<form method="post" action="{% url 'checkout:create_order'%}">
  {% csrf_token %}
  
  <section>
    <div class="row">
      <div class="col-12" style="padding-right: 20px;">
        <div><h2>Дані для доставки:</h2></div>
        {% for field in form %}
          {% if field.name != 'payment_method' %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              <div class="text-danger error-message">
                {% for error in field.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        
        <div class="container-fluid">
            <h1>Ваше замовлення</h1>
            {% if cart.items %}
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Назва</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart.items.all %}
                        <tr>
                            <td>{{ cart_item.item.title|truncatechars:100 }}</td>
                            <td>{{ cart_item.quantity }}</td>
                            <td>{{ cart_item.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td><b>{{ cart.total_price }}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            {% else %}
            Кошик пустий
            <a href="{% url 'store:home' %}" class="button">Повернутися на головну</a>
            {% endif %}
            <!-- Вибір способу оплати -->
            <div class="form-group">
              <label for="{{ form.payment_method.id_for_label }}">{{ form.payment_method.label }}</label>
              {{ form.payment_method }}
            </div>
        </div>
    </section>

      <div class="actions-button">
          <input type="reset" value="Сбросити">
          {% if cart.items %}
              <button type="button" class="primary submit-btn" id="confirmBtn">Підтвердити</button>
          {% else %}
              <button type="button" class="primary submit-btn" id="confirmBtn" disabled>Підтвердити</button>
          {% endif %}
      </div>

      <!-- Модалка -->
      <div id="confirmModal" class="modal">
        <div class="modal-content">
          <p>Ви впевнені, що хочете підтвердити замовлення?</p>
          <button type="button" id="confirmYes" class="primary submit-btn">Так</button>
          <button type="button" id="confirmNo">Скасувати</button>
        </div>
      </div>
  </form>
{% endblock %}



{% block js %}
<script src="{% static 'assets/js/checkout.js' %}"></script>
{% endblock %}
