{% extends "base.html" %}

{% block content %}
{% load static %}
<h1>Carti_Leather - Магазин виробів із натуральної шкіри!<br /></h1>
<p>Ласкаво просимо в Carti_Leather — магазин ексклюзивних виробів із натуральної шкіри ручної роботи. </p>
<p>Ми створюємо стильні, надійні аксесуари, які поєднують у собі високу якість, елегантність та довговічність. Кожен виріб виготовляється з увагою до деталей, щоб приносити радість та задоволення своїм власникам.</a></p>
<p>Обирайте унікальні та практичні шкіряні аксесуари, які підкреслять ваш стиль і будуть служити вам багато років.</p>
<section class="tiles">
    {% for item in page_obj %}
    <article class="style{{ range|random }}">
        <span class="image">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="" style="width: 353px; height: 326px;" />
        {% else %}
            <img src="{% static "images/pic01.jpg" %}" alt="" />
        {% endif %}
        </span>
        <a href="{% url 'store:item_details' item.slug %}">
            <div class="tag">
                <object> 
                    {% for tag in item.tags.all %}
                        <a href="{% url 'store:tag_details' tag.slug %}" style="color: white">{{ tag }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </object><br />
            </div>
            <h2>{{ item.title }}</h2>
            <div class="content">
                <p>{{ item.description|truncatechars:150 }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %} 