{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/categories.css' %}">

<h2 class="category-title">Наші категорії</h2>
<div class="categories-grid">
  {% for tag in page_obj %}
    <div class="category-card">
      <a href="{% url 'store:tag_details' tag.slug %}">
        <img
          src="{% if tag.image %}{{ tag.image.url }}{% else %}{% static 'images/pic14.jpg' %}{% endif %}"
          alt="{{ tag.name }}"
          class="category-image"
        />
        <h3 class="category-name">{{ tag.name }}</h3>
      </a>
      <p class="category-description">{{ tag.description }}</p>
    </div>
  {% empty %}
    <p>Категорій не знайдено.</p>
  {% endfor %}
</div>
{% endblock %}
