{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "assets/css/profile.css"%}" />
{% endblock %}


{% block content %}
<div class="data-profile">
  <div class="profile-settings">
    <h1>Ви успішно вийшли із системи</h1>
    <div class="button-row">

      <a class="btn" href="{% url 'store:home' %}">Повернутися на головну</a>
      <a class="btn" href="{% url 'users:login' %}">Увійти</a>
      

    </div>
  </div>
</div>

 
  
 
{% endblock %}

